{
  "openapi": "3.1.0",
  "info": {
    "title": "Crustdata API",
    "description": "Crustdata API definition. Please add your token in the `Authentication` section by clicking on `Auth Type` and selecting `Token`.",
    "version": "0.0.2"
  },
  "servers": [
    {
      "url": "https://api.crustdata.com"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Token": {
      "type": "apiKey",
      "name": "Authorization",
      "value": "Token <PASTE_YOUR_TOKEN_HERE>",
      "in": "header",
      "description": "Enter the token with the `Token` prefix, e.g. \"Token abcde12345\"."
    }
  },
  "tags": [
    {
      "name": "Company APIs",
      "description": "Allows you to query Crustdata's Company database to retrieve detailed information companies."
    },
    {
      "name": "People APIs",
      "description": "Allows you to query Crustdata's People database to retrieve detailed professional information for a person."
    },
    {
      "name": "Watcher",
      "description": "Allows you to create and manage watches for job postings, LinkedIn posts, new funding events, and more."
    },
    {
      "name": "Dataset APIs",
      "description": "Endpoints for time series data, job listings, product launches, and additional analytics."
    },
    {
      "name": "Auxiliary APIs",
      "description": "Helper endpoints that provide supporting functionality like autocomplete suggestions for other products."
    },
    {
      "name": "Web APIs",
      "description": "Endpoints for web search and related functionality using search engine results."
    }
  ],
  "paths": {
    "/screener/identify/": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Company APIs"
        ],
        "summary": "Identification API",
        "description": "Identifies one or more companies in Crustdata's database based on the provided query parameters (e.g., domain, name). The API returns an array of matching companies, each with a matching score, sorted by relevance. <br><br> [Show Docs](/docs/discover/company-apis/company-identification-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              },
              "example": {
                "query_company_website": "hubspot.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response returning an array of matching companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentifyResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Please check your request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found in Crustdata's database.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/screener/company": {
      "get": {
        "operationId": "enrichCompany",
        "tags": [
          "Company APIs"
        ],
        "summary": "Enrichment API",
        "description": "Retrieve detailed company data using one or more identifiers. **At least one** of `company_domain`, `company_name`, `company_linkedin_url`, or `company_id` must be supplied.\n",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyDomain"
          },
          {
            "$ref": "#/components/parameters/CompanyName"
          },
          {
            "$ref": "#/components/parameters/CompanyLinkedInURL"
          },
          {
            "$ref": "#/components/parameters/CompanyID"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/EnrichRealtime"
          },
          {
            "$ref": "#/components/parameters/ExactMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "The response provides a comprehensive profile of the company, including firmographic details, social media links, headcount data, and growth metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CompanyData"
                    },
                    {
                      "$ref": "#/components/schemas/CompanyEnrichmentStatusEnriching"
                    },
                    {
                      "$ref": "#/components/schemas/CompanyEnrichmentStatusNotFound"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse LinkedIn url"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/credits": {
      "get": {
        "tags": [
          "Auxiliary APIs"
        ],
        "summary": "Remaining Credits API",
        "description": "Check your remaining API credits balance. You can use this to monitor your credit usage  and ensure you have sufficient credits for your API requests. <br><br> [Show Docs](/docs/discover/auxiliary-apis/remaining-credits)\n",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved remaining credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "integer",
                      "description": "The number of API credits remaining in your account",
                      "example": 9406
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/company/search": {
      "post": {
        "operationId": "searchCompaniesRealtime",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Company APIs"
        ],
        "summary": "Realtime Search API",
        "description": "Searches for company profiles on the web in real-time. Accepts a set of filters for search criteria. See [How to Build Filters](/docs/discover/company-apis/how-to-build-company-filters). <br><br> [Show Docs](/docs/discover/company-apis/company-search-api)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySearchByFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON response containing a list of company profiles found and the total number of profiles available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanySearchResponse"
                      }
                    },
                    "total_display_count": {
                      "type": "string",
                      "description": "Short scale notation (like 1M+ or 1.5K) representing the total number of profiles available for the search."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse Filters"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/person/enrich": {
      "get": {
        "operationId": "enrichPerson",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "People APIs"
        ],
        "summary": "Enrichment API (realtime/in-db)",
        "description": "Enrich data for one or more individuals using LinkedIn profile URLs\nor business email addresses. You must provide at least one of\n`linkedin_profile_url` or `business_email`. If `enrich_realtime`\nis set to true, and no matching record is found in the database,\na real-time search will be performed.\n<br><br>\n[Show Docs](/docs/discover/people-apis/people-enrichment-api)\n",
        "parameters": [
          {
            "name": "linkedin_profile_url",
            "description": "Comma-separated list of LinkedIn profile URLs.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://www.linkedin.com/in/danielahmadizadeh"
            }
          },
          {
            "name": "business_email",
            "description": "Comma-separated list of business email addresses.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrich_realtime",
            "description": "If set to true, performs a real-time search from the web if data is not found in the database.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "description": "Comma-separated list of fields to return.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "linkedin_profile_url,linkedin_flagship_url,name,location,email,title,last_updated,headline,summary,num_of_connections,skills,profile_picture_url,profile_picture_permalink,twitter_handle,languages,all_employers,past_employers,current_employers,education_background,all_employers_company_id,all_titles,all_schools,all_degrees"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse LinkedIn url"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/person/search": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "People APIs"
        ],
        "summary": "Realtime Search API",
        "description": "Searches for people based on either a set of filters.\n- **Filters**: Provide an array of filter_type, type, and value. \n  See [How to Build Filters](/docs/discover/people-apis/how-to-build-people-filters).\n<br><br>\n[Show Docs](/docs/discover/people-apis/people-search-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonSearchRealtimeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON response containing a list of people profiles found and the total number of profiles available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonSearchResponse"
                      }
                    },
                    "total_display_count": {
                      "type": "string",
                      "description": "Short scale notation (like 1M+ or 1.5K) representing the total number of profiles available for the search."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse Filters"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/persondb/search": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "People APIs"
        ],
        "summary": "In-DB Search API",
        "description": "In-database search API for people data, enabling you to search across millions of \nprofessional profiles with advanced filtering capabilities.\n<br><br>\n[Show Docs](/docs/discover/people-apis/people-discovery-api-in-db)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonDBSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON response containing a list of people profiles with pagination support.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDBSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse Filters"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/companydb/search": {
      "post": {
        "operationId": "searchCompaniesInDB",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Company APIs"
        ],
        "summary": "In-DB Search API",
        "description": "In-database search API for company data, enabling you to search across millions of \ncompanies with advanced filtering capabilities and improved performance.\n<br><br>\n**Note:** This API is currently in beta and available by invitation only.\n<br><br>\n[Show Docs](/docs/discover/company-apis/company-discovery-api-in-db-v2)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDBSearchRequest"
              },
              "examples": {
                "high_growth_tech_startups": {
                  "summary": "Find high-growth tech startups with recent funding",
                  "value": {
                    "filters": {
                      "op": "and",
                      "conditions": [
                        {
                          "op": "or",
                          "conditions": [
                            {
                              "filter_type": "last_funding_round_type",
                              "type": "in",
                              "value": [
                                "series_a",
                                "series_b",
                                "series_c"
                              ]
                            },
                            {
                              "filter_type": "crunchbase_total_investment_usd",
                              "type": ">",
                              "value": 5000000
                            }
                          ]
                        },
                        {
                          "filter_type": "employee_metrics.growth_12m_percent",
                          "type": "=>",
                          "value": 30
                        },
                        {
                          "filter_type": "linkedin_industries",
                          "type": "(.)",
                          "value": "technology"
                        },
                        {
                          "filter_type": "year_founded",
                          "type": ">",
                          "value": 2015
                        }
                      ]
                    },
                    "limit": 50,
                    "sorts": [
                      {
                        "column": "employee_metrics.growth_12m_percent",
                        "order": "desc"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON response containing a list of companies with pagination support.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDBSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse Filters",
                        "Invalid filter field"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/companydb/autocomplete": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Auxiliary APIs"
        ],
        "summary": "CompanyDB Field Autocomplete API",
        "description": "Get autocomplete suggestions for CompanyDB field values. Supports both nested and non-nested fields with fuzzy matching.\n<br><br>\n**Note:** This API is currently in beta and available by invitation only.\n<br><br>\n[Show Docs](/docs/discover/auxiliary-apis/companydb-autocomplete)\n",
        "operationId": "CompanyDBAutocomplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "field",
                  "query"
                ],
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "The field name to get suggestions for (e.g., \"hq_country\", \"linkedin_industries\")",
                    "example": "hq_country"
                  },
                  "query": {
                    "type": "string",
                    "description": "Search text to get autocomplete suggestions",
                    "example": "USA"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of suggestions to return (max 100)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              },
              "examples": {
                "country_search": {
                  "summary": "Search for countries",
                  "value": {
                    "field": "hq_country",
                    "query": "united"
                  }
                },
                "industry_search": {
                  "summary": "Search for industries",
                  "value": {
                    "field": "linkedin_industries",
                    "query": "software"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "description": "Array of suggested values for the field",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "country_suggestions": {
                    "value": {
                      "suggestions": [
                        "USA",
                        "GBR",
                        "ARE"
                      ]
                    }
                  },
                  "industry_suggestions": {
                    "value": {
                      "suggestions": [
                        "Software Development",
                        "Software as a Service (SaaS)",
                        "Computer Software"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalid_field": {
                    "value": {
                      "error": "Invalid field: unknown_field"
                    }
                  },
                  "no_results": {
                    "value": {
                      "suggestions": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/linkedin_posts": {
      "get": {
        "tags": [
          "People APIs",
          "Company APIs"
        ],
        "summary": "Realtime LinkedIn Post API",
        "description": "Retrieve recent LinkedIn posts plus engagement metrics for either a **person** or a **company**, or fetch a **single post** by URL.<br/><br/> **Exactly one** of `person_linkedin_url`, `linkedin_post_url`, `company_domain`, `company_linkedin_url`, `company_name`, or `company_id` must be supplied.<br/><br/> [Show Docs (People API)](/docs/discover/people-apis/people-linkedin-post-api)<br/> [Show Docs (Company API)](/docs/discover/company-apis/company-linkedin-post)\n",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonLinkedInURL"
          },
          {
            "$ref": "#/components/parameters/LinkedInPostURL"
          },
          {
            "$ref": "#/components/parameters/CompanyDomain"
          },
          {
            "$ref": "#/components/parameters/CompanyLinkedInURL"
          },
          {
            "$ref": "#/components/parameters/CompanyName"
          },
          {
            "$ref": "#/components/parameters/CompanyID"
          },
          {
            "$ref": "#/components/parameters/PostPage"
          },
          {
            "$ref": "#/components/parameters/PostLimit"
          },
          {
            "$ref": "#/components/parameters/PostTypes"
          },
          {
            "$ref": "#/components/parameters/PostFields"
          },
          {
            "$ref": "#/components/parameters/PostMaxReactors"
          },
          {
            "$ref": "#/components/parameters/PostMaxComments"
          }
        ],
        "responses": {
          "200": {
            "description": "The response provides a list of recent LinkedIn posts for the specified company or person, including post content, engagement metrics, and information about users who interacted with the posts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, please check your request body to fix this error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Failed to parse LinkedIn url"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/linkedin_posts/keyword_search/": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Company APIs",
          "People APIs"
        ],
        "summary": "Realtime LinkedIn Post by Keyword API",
        "description": "Search for LinkedIn posts containing specific keywords or phrases. Results can be sorted by relevance \nor recency and filtered by date posted.\n<br><br>\n[Show Docs](/docs/discover/company-apis/company-linkedin-post-by-keyword)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "The keyword or phrase to search for in LinkedIn posts",
                    "example": "Generative AI"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination (starts from 1). Cannot be used when exact_keyword_match is true. Server default is 1 if not specified."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Exact number of posts to return or scan. Required when exact_keyword_match is true.",
                    "example": 10
                  },
                  "exact_keyword_match": {
                    "type": "boolean",
                    "description": "When true, returns posts that contain the exact keyword phrase. Must use 'limit' parameter instead of 'page' when enabled. The API will scan the first 'limit' posts and return only those containing exact matches.",
                    "default": false,
                    "example": true
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "How to sort the results",
                    "enum": [
                      "relevance",
                      "date_posted"
                    ],
                    "default": "date_posted",
                    "example": "relevance"
                  },
                  "date_posted": {
                    "type": "string",
                    "description": "Filter posts by when they were posted",
                    "enum": [
                      "past-24h",
                      "past-week",
                      "past-month",
                      "past-quarter",
                      "past-year"
                    ],
                    "example": "past-24h"
                  },
                  "content_type": {
                    "type": "array",
                    "description": "Filter posts by content type",
                    "items": {
                      "type": "string",
                      "enum": [
                        "photos",
                        "jobs",
                        "collaborativeArticles",
                        "videos",
                        "documents",
                        "liveVideos"
                      ]
                    },
                    "example": [
                      "videos",
                      "photos"
                    ]
                  },
                  "filters": {
                    "type": "array",
                    "description": "Optional filters for posts by specific criteria",
                    "required": false,
                    "items": {
                      "type": "object",
                      "properties": {
                        "filter_type": {
                          "type": "string",
                          "description": "Type of filter to apply",
                          "enum": [
                            "MEMBER",
                            "MENTIONING_MEMBER",
                            "COMPANY",
                            "MENTIONING_COMPANY",
                            "AUTHOR_INDUSTRY",
                            "AUTHOR_COMPANY",
                            "AUTHOR_TITLE"
                          ],
                          "example": "AUTHOR_TITLE"
                        },
                        "type": {
                          "type": "string",
                          "description": "Operator for the filter",
                          "enum": "in",
                          "example": "in"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Co-Founder"
                          ]
                        }
                      },
                      "required": [
                        "filter_type",
                        "type",
                        "value"
                      ]
                    }
                  },
                  "fields": {
                    "type": "string",
                    "description": "Comma-separated list of fields to include in the response. By default, returns core post data. Add \"reactors\" to fetch users who reacted, and \"comments\" to fetch comments.",
                    "example": ""
                  },
                  "max_reactors": {
                    "type": "integer",
                    "description": "Maximum number of reactors to fetch per post when \"reactors\" is included in fields. Range 0-5000. Server default is 5 if not specified."
                  },
                  "max_comments": {
                    "type": "integer",
                    "description": "Maximum number of comments to fetch per post when \"comments\" is included in fields. Range 0-5000. Server default is 5 if not specified."
                  }
                },
                "required": [
                  "keyword"
                ]
              },
              "example": {
                "keyword": "Generative AI",
                "limit": 10,
                "exact_keyword_match": true,
                "sort_by": "relevance",
                "date_posted": "past-24h",
                "content_type": [
                  "videos",
                  "photos"
                ],
                "filters": [
                  {
                    "filter_type": "AUTHOR_TITLE",
                    "type": "in",
                    "value": [
                      "Co-Founder"
                    ]
                  }
                ],
                "fields": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of LinkedIn posts matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostWithKeywords"
                      }
                    },
                    "total_count": {
                      "type": "integer",
                      "description": "Total number of posts matching the search criteria"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check your request body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Invalid date_posted value",
                        "When 'exact_keyword_match' is true, pagination with 'page' is not supported. Please use 'limit' instead to specify how many posts to scan for exact matches."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No matching posts found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "No matching posts found.",
                        "No matching posts found. When using 'exact_keyword_match', the API searches within the first 'limit' posts. Try increasing the 'limit' parameter or use 'sort_by': 'relevance' for better results."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_lab/job_listings/Table/": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Dataset APIs"
        ],
        "summary": "Job Listings API",
        "description": "Returns job listings along with pagination info, using the same fields-and-rows structure. \nYou can optionally specify sync_from_source, date ranges, or keywords in the filters.\n<br><br>\n[Show Docs](/docs/discover/dataset-apis/dataset-job-listings-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataLabJobListingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response containing fields and rows of job listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLabJobListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_lab/funding_milestone_timeseries/": {
      "post": {
        "deprecated": true,
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Dataset APIs"
        ],
        "summary": "Funding Milestones API (Deprecated)",
        "description": "⚠️ **Deprecation Notice**: This API will soon be deprecated. Please use `/screener/company` endpoint instead, which provides funding milestone timeseries data under the `funding_and_investment.funding_milestones_timeseries` section of the response.\n\nReturns a time-series of funding milestones for companies. Query using company_ids to get their funding history.\n<br><br>\n[Show Docs](/docs/discover/dataset-apis/dataset-funding-milestones-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Filter conditions with op (and/or) and conditions array"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "maximum": 100
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "filters"
                ]
              },
              "example": {
                "filters": {
                  "op": "or",
                  "conditions": [
                    {
                      "column": "company_id",
                      "type": "in",
                      "value": [
                        637158,
                        674265,
                        674657
                      ]
                    }
                  ]
                },
                "offset": 0,
                "count": 100,
                "sorts": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response containing funding milestone data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLabJobListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_lab/investor_portfolio": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Dataset APIs"
        ],
        "summary": "Investor Portfolio API",
        "description": "Retrieve portfolio details for a specified investor. Each investor has a unique identifier (UUID), name, and type. \nThis API allows you to fetch the full portfolio of companies associated with an investor.\n<br><br>\n[Show Docs](/docs/discover/dataset-apis/dataset-investor-portfolio-api)\n",
        "parameters": [
          {
            "name": "investor_uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Crunchbase UUID of the investor. Visit investor's Crunchbase page at https://crunchbase.com/organization/{investor_uuid}",
            "example": "b3727cf7-8ada-4a58-99e0-f3125b8aa655"
          },
          {
            "name": "investor_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Name of the investor",
            "example": "January Capital"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing investor portfolio data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "investor_uuid": {
                      "type": "string"
                    },
                    "investor_name": {
                      "type": "string"
                    },
                    "portfolio_companies": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - either investor_uuid OR investor_name must be provided, but not both",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_lab/producthunt_metrics/Table/": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Dataset APIs"
        ],
        "summary": "ProductHunt API",
        "description": "Discover companies and get their ProductHunt launch data based on their ProductHunt launch performance.\n<br><br>\n[Show Docs](/docs/discover/dataset-apis/dataset-producthunt-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tickers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dataset": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    }
                  },
                  "filters": {
                    "type": "object",
                    "description": "Filter conditions with op (and/or) and conditions array"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "maximum": 100
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "aggregations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "dataset",
                  "filters"
                ]
              },
              "example": {
                "tickers": [],
                "dataset": {
                  "name": "producthunt_metrics",
                  "id": "producthuntmetric"
                },
                "filters": {
                  "op": "and",
                  "conditions": [
                    {
                      "column": "company_id",
                      "type": "in",
                      "value": [
                        680992,
                        673947,
                        631280,
                        636304,
                        631811
                      ],
                      "allow_null": false
                    }
                  ]
                },
                "groups": [],
                "aggregations": [],
                "functions": [],
                "offset": 0,
                "limit": 100,
                "sorts": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response containing ProductHunt metrics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLabJobListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_lab/gartner_reviews/Table/": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Dataset APIs"
        ],
        "summary": "Gartner Reviews API",
        "description": "Discover companies and get their Gartner review data based on their Gartner review performance.\n<br><br>\n[Show Docs](/docs/discover/dataset-apis/dataset-gartner-api)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tickers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dataset": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    }
                  },
                  "filters": {
                    "type": "object",
                    "description": "Filter conditions with op (and/or) and conditions array"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "maximum": 100
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "aggregations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "dataset",
                  "filters"
                ]
              },
              "example": {
                "tickers": [],
                "dataset": {
                  "name": "gartner_reviews",
                  "id": "gartnerreview"
                },
                "filters": {
                  "op": "and",
                  "conditions": [
                    {
                      "column": "gartner_review_overall_rating",
                      "type": "=>",
                      "value": "2"
                    }
                  ]
                },
                "groups": [],
                "aggregations": [],
                "functions": [],
                "offset": 0,
                "limit": 100,
                "sorts": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response containing Gartner review data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLabJobListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watcher/watches": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Watcher"
        ],
        "summary": "Create a new watch",
        "description": "Creates a new watch for events, such as job postings, LinkedIn posts, or funding news.\nThe `event_type_slug` indicates the type of event, while `event_filters` and `account_filters` define the conditions under which the watch triggers. \nUse `frequency` to decide how often you'd like to be notified, and `notification_endpoint` to specify a webhook or Slack endpoint, for example.\n<br><br>\n[Show Docs](/docs/discover/watcher-apis/watcher-overview#1-create-a-watch)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created watch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Check your request body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watcher/watches/{watch_id}/update": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Watcher"
        ],
        "summary": "Update watch status",
        "description": "Updates the status of an existing watch. \nE.g., from \"active\" to \"paused\" or \"inactive.\"\n<br><br>\n[Show Docs](/docs/discover/watcher-apis/watcher-overview#2-update-watch)\n",
        "parameters": [
          {
            "name": "watch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the watch to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Watch status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWatchStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/watcher/simulation/watches": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Watcher"
        ],
        "summary": "Simulation",
        "description": "Simulates a watch without actually creating a new watch record, \nallowing you to see what results or events would be triggered.\n<br><br>\n[Show Docs](/docs/discover/watcher-apis/watcher-simulation)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/screener/linkedin_filter/autocomplete": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Auxiliary APIs"
        ],
        "summary": "Filters Autocomplete API",
        "description": "Get autocomplete suggestions for Filters <br><br> [Show Docs](/docs/discover/auxiliary-apis/filters-autocomplete)",
        "operationId": "FiltersAutocomplete",
        "parameters": [
          {
            "name": "filter_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Type of filter to get suggestions for",
              "enum": [
                "region",
                "industry"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query for autocomplete suggestions"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Starting index for pagination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of autocomplete suggestions"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "results": [
                        "Mumbai Metropolitan Region",
                        "Mumbai Metropolitan Region, India"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "missing_query": {
                    "value": {
                      "query": [
                        "This field is required."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No suggestions found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Empty array when no suggestions found"
                    }
                  }
                },
                "examples": {
                  "no_results": {
                    "value": {
                      "results": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/persondb/autocomplete": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Auxiliary APIs"
        ],
        "summary": "PersonDB Field Autocomplete API",
        "description": "Get autocomplete suggestions for PersonDB field values. Supports both nested and non-nested fields with fuzzy matching. <br><br> [Show Docs](/docs/discover/auxiliary-apis/persondb-autocomplete)",
        "operationId": "PersonDBAutocomplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "field",
                  "query"
                ],
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "The field name to get suggestions for (e.g., \"region\", \"current_employers.name\")",
                    "example": "region"
                  },
                  "query": {
                    "type": "string",
                    "description": "Search text to get autocomplete suggestions",
                    "example": "san francisco"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of suggestions to return (max 100)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              },
              "examples": {
                "region_search": {
                  "summary": "Search for regions",
                  "value": {
                    "field": "region",
                    "query": "new york",
                    "limit": 10
                  }
                },
                "company_search": {
                  "summary": "Search for current employer names",
                  "value": {
                    "field": "current_employers.name",
                    "query": "microsoft",
                    "limit": 5
                  }
                },
                "education_search": {
                  "summary": "Search for educational institutions",
                  "value": {
                    "field": "education_background.institute_name",
                    "query": "stanford",
                    "limit": 15
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of autocomplete suggestions for the field"
                    }
                  }
                },
                "examples": {
                  "region_suggestions": {
                    "summary": "Region suggestions",
                    "value": {
                      "suggestions": [
                        "San Francisco Bay Area",
                        "San Francisco, California, United States",
                        "San Francisco County, California, United States",
                        "South San Francisco, California, United States"
                      ]
                    }
                  },
                  "company_suggestions": {
                    "summary": "Company name suggestions",
                    "value": {
                      "suggestions": [
                        "Microsoft Corporation",
                        "Microsoft Azure",
                        "Microsoft Research"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid field or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  }
                },
                "examples": {
                  "invalid_field": {
                    "summary": "Invalid field name",
                    "value": {
                      "error": "Field 'invalid_field' is not valid for autocomplete. Available fields are: certifications.issuer_organization, certifications.name, current_employers.company_headquarters_address, ..."
                    }
                  },
                  "missing_field": {
                    "summary": "Missing required field",
                    "value": {
                      "field": [
                        "This field is required."
                      ]
                    }
                  },
                  "missing_query": {
                    "summary": "Missing query parameter",
                    "value": {
                      "query": [
                        "This field is required."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/web-search": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Web APIs"
        ],
        "summary": "Web Search API",
        "description": "Performs a web search query using the browserscale API. Returns search results including titles, URLs, snippets, and positions. <br><br> [Show Docs](/docs/discover/web-apis/web-search)\n",
        "operationId": "webSearch",
        "parameters": [
          {
            "name": "fetch_content",
            "in": "query",
            "description": "When set to true, fetches the webpage content for all URLs returned by the search",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              },
              "examples": {
                "basicSearch": {
                  "summary": "Basic search",
                  "value": {
                    "query": "crustdata",
                    "geolocation": "US"
                  }
                },
                "searchWithGeolocation": {
                  "summary": "Search with geolocation",
                  "value": {
                    "query": "artificial intelligence startups",
                    "geolocation": "US"
                  }
                },
                "searchNewsOnly": {
                  "summary": "Search news sources only",
                  "value": {
                    "query": "artificial intelligence developments",
                    "geolocation": "US",
                    "sources": [
                      "news"
                    ]
                  }
                },
                "searchMultipleSources": {
                  "summary": "Search both news and web sources",
                  "value": {
                    "query": "crustdata platform",
                    "geolocation": "US",
                    "sources": [
                      "news",
                      "web"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                },
                "examples": {
                  "successResponse": {
                    "summary": "Successful search response",
                    "value": {
                      "success": true,
                      "query": "crustdata",
                      "timestamp": 1762908151599,
                      "results": [
                        {
                          "title": "Crustdata - B2B Data Platform",
                          "url": "https://www.crustdata.com/",
                          "snippet": "Crustdata provides high-quality B2B data and APIs for companies",
                          "position": 1
                        },
                        {
                          "title": "Crustdata Documentation",
                          "url": "https://docs.crustdata.com/",
                          "snippet": "Complete documentation for Crustdata APIs and services",
                          "position": 2
                        }
                      ],
                      "metadata": {
                        "totalResults": 9,
                        "searchTime": 4.15,
                        "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36",
                        "viewport": {
                          "width": 945,
                          "height": 921
                        }
                      }
                    }
                  },
                  "successResponseWithContent": {
                    "summary": "Successful search response with fetched content",
                    "value": {
                      "success": true,
                      "query": "parallel ai seed funding",
                      "timestamp": 1765202418055,
                      "results": [
                        {
                          "source": "news",
                          "title": "Ex-Twitter CEO Agrawal's AI search startup Parallel raises $100 million",
                          "url": "https://www.reuters.com/business/ex-twitter-ceo-agrawals-ai-search-startup-parallel-raises-100-million-2025-11-12/",
                          "snippet": "AI startup Parallel Web Systems, founded by former Twitter CEO Parag Agrawal, has raised $100 million to build web search infrastructure for...",
                          "position": 1
                        }
                      ],
                      "metadata": {
                        "totalResults": 1
                      },
                      "contents": [
                        {
                          "success": true,
                          "url": "https://www.reuters.com/business/ex-twitter-ceo-agrawals-ai-search-startup-parallel-raises-100-million-2025-11-12/",
                          "timestamp": 1765202419,
                          "pageTitle": "reuters.com",
                          "content": "<html lang=\"en\"><head><title>reuters.com</title>...</head><body>...</body></html>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidQuery": {
                    "summary": "Invalid query parameter",
                    "value": {
                      "query": [
                        "This field is required."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions or credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "insufficientCredits": {
                    "summary": "Insufficient credits",
                    "value": {
                      "error": "Insufficient credits. Please get in touch with the Crustdata sales team."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "serviceError": {
                    "summary": "Service connection error",
                    "value": {
                      "error": "Failed to connect to web search service"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/screener/web-fetch": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Web APIs"
        ],
        "summary": "Web Content Fetch API",
        "description": "Performs a web content fetch using the browserscale API.\nReturns webpage DOM content and title.\n<br><br>\n[Show Docs](/docs/discover/web-apis/web-fetch)\n",
        "operationId": "webFetch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebFetchRequest"
              },
              "examples": {
                "singleFetch": {
                  "summary": "Fetch a single URL",
                  "value": {
                    "urls": [
                      "example.com"
                    ]
                  }
                },
                "multiFetch": {
                  "summary": "Fetch multiple URLs",
                  "value": {
                    "urls": [
                      "example.com",
                      "crustdata.com",
                      "google.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched web content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebFetchResponse"
                },
                "examples": {
                  "successResponse": {
                    "summary": "Successful search response",
                    "value": [
                      {
                        "success": true,
                        "url": "https://example.com",
                        "timestamp": 1765281552,
                        "pageTitle": "Example Domain",
                        "content": "<html lang=\"en\"><head><title>Example Domain</title><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><style>body{background:#eee;width:60vw;margin:15vh auto;font-family:system-ui,sans-serif}h1{font-size:1.5em}div{opacity:0.8}a:link,a:visited{color:#348}</style></head><body><div><h1>Example Domain</h1><p>This domain is for use in documentation examples without needing permission. Avoid use in operations.</p><p><a href=\"https://iana.org/domains/example\">Learn more</a></p></div>\n</body></html>"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidQuery": {
                    "summary": "Invalid `urls` payload",
                    "value": {
                      "urls": [
                        "This list may not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions or credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "insufficientCredits": {
                    "summary": "Insufficient credits",
                    "value": {
                      "error": "Insufficient credits. Please get in touch with the Crustdata sales team."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "serviceError": {
                    "summary": "Service connection error",
                    "value": {
                      "error": "Failed to connect to web search service"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProfessionalProfile": {
        "type": "object",
        "description": "This object contains a detailed professional profile of a person.",
        "properties": {
          "linkedin_profile_url": {
            "type": "string",
            "format": "uri"
          },
          "linkedin_flagship_url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "title": {
            "type": "string"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "headline": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "num_of_connections": {
            "type": "integer"
          },
          "skills": {
            "type": "string"
          },
          "profile_picture_url": {
            "type": "string",
            "format": "uri"
          },
          "profile_picture_permalink": {
            "type": "string",
            "format": "uri"
          },
          "twitter_handle": {
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "all_employers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "past_employers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmploymentDetail"
            }
          },
          "current_employers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmploymentDetail"
            }
          },
          "all_employers_company_id": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "all_titles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "all_schools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "all_degrees": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EmploymentDetail": {
        "type": "object",
        "description": "This object contains detail about a person's employment information.",
        "properties": {
          "employer_name": {
            "type": "string"
          },
          "employer_linkedin_id": {
            "type": "string"
          },
          "employer_company_id": {
            "type": "integer",
            "nullable": true
          },
          "employee_title": {
            "type": "string"
          },
          "employee_description": {
            "type": "string",
            "nullable": true
          },
          "employee_location": {
            "type": "string",
            "nullable": true
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Condition": {
        "type": "object",
        "description": "This is a basic filter object which contains a column, a type and a value.",
        "properties": {
          "column": {
            "type": "string",
            "description": "Specify the column to filter data based on your screening criteria.",
            "examples": [
              "year_founded",
              "largest_headcount_country"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "=>",
              "=<",
              "=",
              "<",
              ">",
              "!=",
              "in",
              "(.)",
              "[.]"
            ],
            "description": "Greater than or equal; Lesser than or equal; Equal; Lesser than, Greater than, Not equals, Exactly matches atleast one of the elements of list; Contains, case insensitive; Contains, case sensitive"
          },
          "value": {
            "description": "Specify the value for the filter being applied.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "examples": [
              "2020-01-01",
              "USA"
            ]
          },
          "allow_null": {
            "type": "boolean"
          }
        },
        "required": [
          "column",
          "type",
          "value"
        ]
      },
      "ConditionGroup": {
        "type": "object",
        "description": "This is a complex filter object which can contain a complex filter logic.",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "type": "array",
            "description": "An array of complex filter objects or basic filter objects.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Condition"
                },
                {
                  "$ref": "#/components/schemas/ConditionGroup"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "FilterGroup": {
        "type": "object",
        "description": "This is a complex filter object which can contain a complex filter logic.",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "type": "array",
            "description": "An array of complex filter objects or basic filter objects.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Condition"
                },
                {
                  "$ref": "#/components/schemas/ConditionGroup"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "ScreeningRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/FilterGroup",
            "description": "You can create two types of filters. A Basic Filter or an advanced filter."
          },
          "offset": {
            "type": "integer",
            "description": "The starting point of the result set. Default value is 0.",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "The number of results to return in a single request. Maximum value is 100. Default value is 100.",
            "minimum": 1
          },
          "sorts": {
            "type": "array",
            "description": "An array of sorting criteria. Each sort object must contain \"column\" and \"order\" fields.",
            "items": {
              "type": "object",
              "properties": {
                "column": {
                  "type": "string",
                  "description": "The column name to sort by"
                },
                "order": {
                  "type": "string",
                  "description": "Sort order",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                }
              },
              "required": [
                "column",
                "order"
              ]
            }
          }
        },
        "required": [
          "filters"
        ],
        "example": {
          "filters": {
            "op": "and",
            "conditions": [
              {
                "type": "in",
                "value": [
                  "2-10",
                  "11-50",
                  "51-200"
                ],
                "column": "employee_count_range",
                "allow_null": true
              },
              {
                "column": "crunchbase_categories",
                "type": "in",
                "value": [
                  "E-Commerce Platforms",
                  "B2C",
                  "Health Care"
                ]
              }
            ]
          },
          "offset": 0,
          "count": 100,
          "sorts": [
            {
              "column": "monthly_visitor_mom_pct",
              "order": "desc"
            }
          ]
        }
      },
      "DataLabHeadcountFacetRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/FilterGroup",
            "description": "Contains the primary filter logic for the request, including \n`linkedin_headcount_facet_name` for specifying the facet to query (e.g. \"engineering\").\n"
          },
          "offset": {
            "type": "integer",
            "description": "The starting index of the result set. Defaults to 0.",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "Number of results to return in one page. Maximum 100.",
            "minimum": 1,
            "default": 100
          },
          "sorts": {
            "type": "array",
            "description": "Sorting criteria for the results",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "filters"
        ],
        "example": {
          "filters": {
            "op": "and",
            "conditions": [
              {
                "column": "company_id",
                "type": "in",
                "value": [
                  632326
                ]
              },
              {
                "op": "or",
                "conditions": [
                  {
                    "column": "linkedin_headcount_facet_name",
                    "type": "(.)",
                    "value": "engineering"
                  }
                ]
              }
            ]
          },
          "offset": 0,
          "count": 100,
          "sorts": []
        }
      },
      "DataLabFundingTimeseriesRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/FilterGroup",
            "description": "The primary filter logic, where you can specify columns such as\n\"linkedin_industries\" with type = \"(.)\" and values like \"biotech\".\n"
          },
          "offset": {
            "type": "integer",
            "description": "Starting index of the result set. Defaults to 0.",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "How many results to return in a single response. Defaults to 100, max 100.",
            "minimum": 1
          },
          "sorts": {
            "type": "array",
            "description": "Sorting criteria",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "filters"
        ],
        "example": {
          "filters": {
            "op": "or",
            "conditions": [
              {
                "column": "linkedin_industries",
                "type": "(.)",
                "value": "biotech"
              },
              {
                "column": "linkedin_industries",
                "type": "(.)",
                "value": "medical"
              },
              {
                "column": "linkedin_industries",
                "type": "(.)",
                "value": "biomass"
              }
            ]
          },
          "offset": 0,
          "count": 100,
          "sorts": []
        }
      },
      "DataLabDecisionMakersRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/FilterGroup",
            "description": "The primary filter logic. For example:\n{ \"op\": \"or\", \"conditions\": [{\"column\": \"company_id\", \"type\": \"in\", \"value\": [632326]}]}\n"
          },
          "offset": {
            "type": "integer",
            "description": "The starting index of the result set. Defaults to 0.",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "Number of rows to return (must be <= 25).",
            "minimum": 1,
            "maximum": 25,
            "default": 25
          },
          "sorts": {
            "type": "array",
            "description": "Sorting criteria for the result",
            "items": {
              "type": "object"
            }
          },
          "decision_maker_titles": {
            "type": "array",
            "description": "A list of job titles you want to filter on (e.g., co-founder).",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "filters"
        ],
        "example": {
          "filters": {
            "op": "or",
            "conditions": [
              {
                "column": "company_id",
                "type": "in",
                "value": [
                  632326
                ]
              }
            ]
          },
          "offset": 0,
          "count": 25,
          "sorts": [],
          "decision_maker_titles": [
            "co-founder"
          ]
        }
      },
      "InvestorPortfolioArray": {
        "type": "array",
        "description": "An array of investor-portfolio data",
        "items": {
          "$ref": "#/components/schemas/InvestorPortfolioObject"
        }
      },
      "InvestorPortfolioObject": {
        "type": "object",
        "description": "Information about a specific investor and their portfolio",
        "properties": {
          "investor_name": {
            "type": "string",
            "description": "Name of the investor"
          },
          "investor_uuid": {
            "type": "string",
            "description": "UUID for this investor"
          },
          "investments": {
            "type": "array",
            "description": "List of companies funded by this investor",
            "items": {
              "$ref": "#/components/schemas/PortfolioInvestment"
            }
          }
        },
        "required": [
          "investor_name",
          "investor_uuid",
          "investments"
        ]
      },
      "PortfolioInvestment": {
        "type": "object",
        "description": "An object representing a single portfolio company plus the details of the investor's funding",
        "properties": {
          "investment_details": {
            "type": "array",
            "description": "Detailed breakdown of each funding event",
            "items": {
              "$ref": "#/components/schemas/InvestmentDetails"
            }
          },
          "company_details": {
            "$ref": "#/components/schemas/CompanyDetails"
          }
        },
        "required": [
          "investment_details",
          "company_details"
        ]
      },
      "InvestmentDetails": {
        "type": "object",
        "description": "Information about a single investment round",
        "properties": {
          "investment_amount_usd": {
            "type": "number",
            "nullable": true,
            "description": "Amount invested in USD (can be null)"
          },
          "funding_round": {
            "type": "string",
            "description": "The name/type of the funding round, e.g. \"Series A\""
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the investment"
          },
          "funding_round_investors": {
            "type": "array",
            "description": "The list of investors who participated in this round",
            "items": {
              "$ref": "#/components/schemas/InvestorDetails"
            }
          }
        },
        "required": [
          "funding_round",
          "date",
          "funding_round_investors"
        ]
      },
      "InvestorDetails": {
        "type": "object",
        "description": "Basic info about an investor who participated in a round",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the investor (person or entity)"
          },
          "uuid": {
            "type": "string",
            "description": "UUID associated with this investor"
          }
        }
      },
      "DataLabJobListingsRequest": {
        "type": "object",
        "description": "Request payload for retrieving job listings from the data_lab job_listings dataset",
        "properties": {
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataset": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "filters": {
            "$ref": "#/components/schemas/FilterGroup"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "aggregations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "functions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "offset": {
            "type": "integer",
            "description": "Starting index for pagination",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "Number of rows to return in this request",
            "minimum": 1,
            "default": 100
          },
          "sorts": {
            "type": "array",
            "description": "Sorting criteria",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "dataset",
          "filters"
        ],
        "example": {
          "tickers": [],
          "dataset": {
            "name": "job_listings",
            "id": "joblisting"
          },
          "filters": {
            "op": "and",
            "conditions": [
              {
                "column": "company_id",
                "type": "in",
                "value": [
                  7576,
                  680992,
                  673947,
                  631280,
                  636304,
                  631811
                ]
              },
              {
                "column": "date_updated",
                "type": ">",
                "value": "2024-02-01"
              }
            ]
          },
          "groups": [],
          "aggregations": [],
          "functions": [],
          "offset": 0,
          "count": 100,
          "sorts": []
        }
      },
      "DataLabProductHuntRequest": {
        "type": "object",
        "description": "Request payload for retrieving Product Hunt launch data",
        "properties": {
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataset": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "filters": {
            "$ref": "#/components/schemas/FilterGroup"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "aggregations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "functions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "offset": {
            "type": "integer",
            "description": "Starting index for pagination",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "description": "Number of rows to return in the response",
            "minimum": 1,
            "default": 100
          },
          "sorts": {
            "type": "array",
            "description": "Sorting criteria",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "dataset",
          "filters"
        ],
        "example": {
          "tickers": [],
          "dataset": {
            "name": "producthunt_launches",
            "id": "phlaunch"
          },
          "filters": {
            "op": "and",
[...]
